{{> head }}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>The Last Of Us Part II</h1>
            <p>The new game of the popular saga</p>
        </div>
        <div class="col-4">
            <img src="assets/img/last2.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer }}